$Highlight: #333333;
$ButtonColor: #00c8c8;
$MiniButtonColor: #737373;
$productBackground: #f8f8f8;
$PrimaryFont: 'Montserrat', sans-serif;
$SecondaryFont: 'Roboto', sans-serif;
$DecorationText: none;
$HeadingColor: #575153;
$TextColor: #8e8c8c;